<!-- movies.html -->
<h2 class="swiperTitle">Watch trailer</h2>

<!-- Slider main container -->
<div class="swiper">
  <div class="swiper-wrapper">
    <!-- Slides will be appended here dynamically -->
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<section id="gallery" class="movies">
  <!-- kontener, w którym generowana jest galeria filmów -->

  <div id="gallery-container" class="container gallery-container">
    <!-- tu wyświetlana jest gallery filmów -->
  </div>
</section>
<!-- przycisk wyświetlany, gdy strona jest przewinięta w dół -->
<button id="scrollToTopButton">Scroll to Top</button>
